<meta charset="utf-8">

<div class="jumbotron center-block">
  <div class="conteiner-fluid">

    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="form-group">
        <p class="control-label">Informações Pessoais</p>
        <hr>
      </div>

      <div class="form-group" [ngClass]="apllyErrorInCSS('name')">
        <label class="control-label" for="name">Nome:</label>
        <input type="text" formControlName="name" class="form-control" placeholder="Nome">
        <app-errors [showError]="checkValid('name')" msgError="Nome obrigatório!">
        </app-errors>
      </div>

      <div class="form-group" [ngClass]="apllyErrorInCSS('gender')">
        <label class="control-label" for="gender">Gênero</label>
        <br>
        <input type="radio" formControlName="gender" value="male"> Masculino
        <input type="radio" formControlName="gender" value="female"> Feminino
        <input type="radio" formControlName="gender" value="other"> Outro
        <app-errors [showError]="checkValid('gender')" msgError="Esse campo é obrigatório!">
        </app-errors>
      </div>

      <div class="form-group" [ngClass]="apllyErrorInCSS('email')">
        <label class="control-label" for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="nome@email.com">
        <app-errors [showError]="checkValid('email')" msgError="Email obrigatório!">
        </app-errors>
        <app-errors [showError]="checkEmail()" msgError="Email inválido! Verifique o email digitado.">
        </app-errors>
      </div>

      <div class="form-group" [ngClass]="apllyErrorInCSS('city')">
        <label class="control-label" for="city">Cidade</label>
        <select class="form-control" formControlName="city" id="city">
          <option value="">Selecione sua cidade</option>
          <option *ngFor="let city of cities" [value]="city.name">
            {{city.name}}
          </option>
        </select>
        <app-errors [showError]="checkValid('city')" msgError="Esse campo é obrigatório!">
        </app-errors>
      </div>

      <div class="form-group">
        <br>
        <p class="control-label">Informações Profissionais</p>
        <hr>
      </div>

      <div class="form-group" [ngClass]="apllyErrorInCSS('experiences')">
        <label class="control-label" for="experiences">Resumo das experiências profissionais</label>
        <textarea formControlName="experiences" class="form-control" id="experiences" placeholder="Descreva suas experiências"></textarea>
        <app-errors [showError]="checkValid('experiences')" msgError="Esse campo é obrigatório!">
        </app-errors>
      </div>

      <div class="form-group" [ngClass]="apllyErrorInCSS('experienceUX')">
        <label class="control-label" for="experienceUX">Experiência com UX?</label>
        <br>
        <input type="radio" formControlName="experienceUX" value="yes"> Sim
        <input type="radio" formControlName="experienceUX" value="not"> Não
        <app-errors [showError]="checkValid('experienceUX')" msgError="Esse campo é obrigatório!">
        </app-errors>
      </div>

      <div class="form-group" [ngClass]="apllyErrorInCSS('experienceJS')">
        <label class="control-label" for="experienceJS">Experiência com Javascript?</label>
        <br>
        <input type="radio" formControlName="experienceJS" value="yes"> Sim
        <input type="radio" formControlName="experienceJS" value="not"> Não
        <app-errors [showError]="checkValid('experienceJS')" msgError="Esse campo é obrigatório!">
        </app-errors>
      </div>

      <div class="form-group" [ngClass]="apllyErrorInCSS('experienceUI')">
        <label class="control-label" for="experienceUI">Experiência com Design de Interfaces?</label>
        <br>
        <input type="radio" formControlName="experienceUI" value="yes"> Sim
        <input type="radio" formControlName="experienceUI" value="not"> Não
        <app-errors [showError]="checkValid('experienceUI')" msgError="Esse campo é obrigatório!">
        </app-errors>
      </div>

      <div class="btn-group pull-left">
        <button class="btn btn-primary" type="submit" id="submit">Enviar</button>
      </div>

    </form>

    <div class="btn-group pull-left">
      <button class="btn btn-secondary" (click)="reset();" id="cancel">Cancelar</button>
    </div>

  </div>
</div>