<meta charset="utf-8">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-text" target="_blank" href="http://www.facilit.com.br/" title="Vá para página da Facilit Tecnologia">
                <img src="../assets/marca-horizontal-facilit.png" class="img-responsive" alt="Facilit Tecnologia">
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>